/* --- GENERELL STYLE --- */

body {
    margin:0;
    background: #e6e6e6; 
    background: -webkit-linear-gradient(#e6e6e6, #b8b8b8, #8a8a8a) fixed; 
    background: -o-linear-gradient(#e6e6e6, #b8b8b8, #8a8a8a) fixed;
    background: -moz-linear-gradient(#e6e6e6, #b8b8b8, #8a8a8a) fixed;
    background: linear-gradient(#e6e6e6, #b8b8b8, #8a8a8a) fixed;
    font-family: 'Droid Sans', sans-serif;
}



/* --- HEADER STYLE --- */


@media screen and (max-width: 768px) {
  .header a:not(:first-child) {display: none;}
  .header a.icon {
    float: right;
    display: block;
  }
  .location {

  }
}

@media screen and (max-width: 768px) {
  .header.responsive {position: relative;}
  .header.responsive .icon { position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.header {
  overflow: hidden;
  background-color: #333;

}

.header a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

.header .icon {
  display: none;
}

/* --- PORTFOLIO STYLE ---*/

.container {
    width: 650px;
    margin: 0 auto;
    
}

.slideshow, .textshow {
    width: 620px;
    height: 400px;
    overflow: hidden;
}

.slideshow .images, .textshow .texts {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;

}

.slideshow .image, .textshow .text {
    float: left;
    list-style-type: none;
    width: 620px;
    height: 400px;
}


/* --- CONTACT STYLE --- */

#wrapper {
  width: 100%;
  padding: 20px 20px;
  text-align: left;
}



/* --- KONTAKT LOCATION STYLE --- */

#location {
  padding-top: 20px;
  width: 40%;
  min-width: 400px;
  max-width: 600px;
  display: inline-block;
  background: rgb(245,245,245);
  position: absolute;
  margin-left: 10px;
  border:1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

#location .firstLabel {
  margin-top: -20px;
  min-width: 90%;
  font-weight: lighter;
  text-align: center;
}

#map {
  height: 200px;
  width: 90%;
  padding: 10px 10px;
  margin: 10px;
}

/* --- KONTAKT FORM STYLE --- */

.kontakt-form #name input.invalid, textarea.invalid{
	border: 2px solid red;
}

.kontakt-form #name input.valid, textarea.valid{
	border: 2px solid green;
}

.kontakt-form {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    margin: 0px auto;
    max-width: 600px;
    min-width: 500px;
    width: 45%;
    display: inline-block;
    background: rgb(245,245,245);
    padding: 25px 15px 25px 10px;
    font-family: 'Droid Sans', sans-serif;
    color: #666;
    text-shadow: 1px 1px 1px #FFF;


}
.kontakt-form legend {
    width: 96%;
    text-align: center;
    font-size: 2em;
    padding: 0px 0px 10px 40px;
    margin: -10px -15px 5px -10px;;
    color: #555;
}
.kontakt-form legend>span {
    display: block;
    font-size: 1em;
}
.kontakt-form label {
    display: block;
    margin: 0px;
}

.firstLabel {
  padding-top : 18px;
  font-family: 'Droid Sans', sans-serif;
  color: #666;
  text-shadow: 1px 1px 1px #FFF;
}

.kontakt-form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.kontakt-form input[type="text"], .kontakt-form input[type="email"], .kontakt-form input[type="number"], .kontakt-form textarea {
    /*border: 1px outset rgba(10, 10, 10, 0.19);*/
    border: 1px solid gray;
    color: rgb(80,80,80);
    height: 25px;
    margin: 2px 6px 16px 0px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 1em;
    line-height:15px;
    box-shadow: outset 0px 1px 4px #ECECEC;
    -moz-box-shadow: outset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: outset 0px 1px 4px #ECECEC;
}
.kontakt-form textarea{
    padding: 5px 3px 3px 5px;
    resize : none;
    font-size: 1em;
    height:100px;
}



.kontakt-form #message_button {
    background: rgb(80,80,80);
    border: none;
    padding: 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    float: right;
    margin-right: 13px;
}
.kontakt-form .button:hover {
    background: rgb(100,200,100);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(80,80,80,0.4);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(80,80,80,0.4);;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(80,80,80,0.4);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(80,80,80,0.4);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(80,80,80,0.4);
}

/* --- OM OSS STYLE --- */

#about_us_wrapper {
  width: 90%;
  padding: 20px 20px;
}

#about_us_wrapper h1 {
    text-align: center;
    font-size: 3em;
}

.about_us_div {
    cursor: pointer;
    display: inline-block;
    padding-left: 30%;
}

.about_us_div p:hover, h2:hover {
    color: #8a8a8a;
}

.about_us_div p {
    float: left;
    width: 40%;
    padding-left: 20%;
}

.about_us_div h2 {
    float: left;
    font-size: 2em;
}


#about_us_hr_top {
    width: 95%;
    color:grey;
}

.about_us_div_hr {
    width: 90%;
}

@media screen and (max-width: 768px) {

  .about_us_div {
      width: 80%;
      height: 40%;
      padding-left: 20%;
  }

  .about_us_div p, h2 {
      float: left;
      width: 80%;
      padding-left: 0;
  }

}

/* --- HÄMTADE GITHUB TABELLER STYLE --- */

#top_5_div {
    text-align: center;
}

#top_5_div_javascript {
    display: inline-block;
}

#top_5_div_css {
    display: inline-block;
}

#top_5_table {
    max-width: 90%;
    float: left;
    display: inline-block;
    background-color: #b8b8b8;
}

#top_5_table tr, td, th, a, i {
    max-width: 90%;
    text-align: left;
    padding: 6px;
}

#top_5_div a {
    text-decoration: none;
    color: black;
}

#top_5_div a:hover {
    text-decoration: none;
    color: #8a8a8a;
}


@media screen and (max-width: 768px) {

    #top_5_div {
	margin-left: 10%;
	text-align: center;
  }

    #top_5_div_javascript {
	max-width: 100px;
	display: block;
    }

    #top_5_div_css {
	max-width: 100px;
    }

  #top_5_div_css {
      display: block;
  }

}

/* --- PERSONLIG SIDA STYLE --- */

.personal_page_img {
    border-radius: 25px;

}

#personal_skill_bar_wrapper {
}

.SkillBar {
    border-radius: 25px;
    width: 70%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}

.personal_skills_text {
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    color: #e6e6e6;
    font-size: 18px;
}
.personal_skills_percent {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #e6e6e6;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
